.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 40px;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: rgb(238, 238, 238) 1px 1px 2px;
  input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #dcdcdc;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    width: 280px;
    margin-left: 10px;
    &:focus{
      outline: none;
      box-shadow: none;
    }
  }
  h4{
    margin: 0px 0px 20px;
    text-align: center;
    color: rgb(48, 128, 254);
    letter-spacing: 12px;
  }
  .login-btn{
    width: 100%;
    margin-bottom: 10px;
  }
}
